@media(max-width:768px){

    .slot-grid{

        grid-template-columns:
        repeat(2,1fr);

    }

        .service-summary{

        flex-direction:column;
        text-align:center;
    }

    .service-image{

        width:100%;
        max-width:250px;
        height:auto;
    }

}

.booking-container{

    max-width:900px;
    margin:40px auto;
    padding:20px;

}

.booking-card{

    background:white;
    padding:30px;
    border-radius:15px;

}

.booking-card h2{

    margin-bottom:25px;

}

.service-summary{

    display:flex;
    gap:20px;
    align-items:center;

    margin-bottom:30px;
    padding:20px;

    background:#f8f8f8;
    border-radius:15px;
}

.service-image{

    width:120px;
    height:120px;

    object-fit:cover;

    border-radius:12px;
}

.service-info{

    flex:1;
}

.service-info h3{

    font-size:28px;
    margin-bottom:8px;
}

.service-rating{

    color:#f4b400;
    font-weight:600;

    margin-bottom:10px;
}

.service-price{

    font-size:24px;
    font-weight:700;

    color:#00008b;

    margin-top:10px;
}

.form-group{

    margin-bottom:25px;

}

.form-group label{

    display:block;
    margin-bottom:10px;
    font-weight:600;

}

.form-group input{

    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;

}

.slot-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;

}

.slot-btn{

    padding:15px;
    border:none;
    border-radius:10px;
    background:#f1f1f1;
    cursor:pointer;

}

.slot-btn:hover{

    background:#e3e3e3;

}

.slot-btn.active{

    background:black;
    color:white;

}

.slot-btn.unavailable{

    background:#ddd;
    color:#888;
    cursor:not-allowed;

}

.book-btn{

    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;

    background:black;
    color:white;

    cursor:pointer;

}

.error{

    color:red;
    display:block;
    margin-top:5px;

}

#selectedSlotText{
    margin-top:15px;
    font-weight:600;
    color:#28a745;
}

.slot-btn:hover:not(.unavailable){

    background:#e5e5e5;

}