@media (max-width: 768px) {

    .navbar{
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .nav-menu{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .search-container input {
        width: 100%;
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;

    background: #fff;
}

.logo img{
    height: 70px;
    width: auto;
    display: block;
}

.search-container{
    width: 350px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 12px;
    transition: 0.3s ease;
}

.nav-menu a:hover{
    transform:translateY(-3px);
}

.sell-button{
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    cursor: pointer;
    transition:0.3s ease;
}

.sell-button:hover{
    background: #3D4FFF;
    color: white;
    transform:translateY(-3px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.search-container{
    display:flex;
    align-items:center;
    gap:10px;

    width:400px;
    padding:10px 15px;

    border:1px solid #ccc;
    border-radius:25px;
    background:white;
    transition: 0.3s;
}

.search-icon{
    width:20px;
    height:20px;
}

.search-container input{
    border:none;
    outline:none;
    flex:1;
    font-size:16px;
}

.search-container input:focus{
    outline: none;
}

.search-container:focus-within{
    box-shadow:0 0 0 3px rgba(61,79,255,0.2);
}

.nav-menu img {
     width:24px;
    height:24px;
    display:block;
    margin:0 auto 4px;
}

.profile-icon{

    position:relative;
    display:inline-block;

}

.profile-badge{

    position:absolute;

    top:-6px;
    right:-8px;

    width:18px;
    height:18px;

    border-radius:50%;

    background:red;
    color:white;

    font-size:11px;
    font-weight:600;

    display:flex;
    justify-content:center;
    align-items:center;

}